.title{
    color: rgb(220,53,69);
    font-size: 42px;
    margin-top:20px;
    margin-bottom:30px;
    text-align: center;
}
.heading{
    color: rgb(253,159,0);
    font-size: 30px;
}
.button{
    color: rgb(220,53,69);
    border: 1px solid rgb(220,53,69);
    padding: 10px;
    margin-right:10px;
}